#modal-content {
    border-radius: 25px;
    top: 0;
    margin-top: 100px;
}

.update-modal {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.update-modal form {
    display: flex;
    flex-direction: column;
    width: 80%
}

.update-modal input {
    width: 98%
}

#update-button {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.form-errors {
    min-height: 20px;
}

.update-modal h2 {
    margin: 5px 0px;
}
