#collection-gallery {
    margin: 0;
    padding: 0;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    justify-content: center;
    animation: slidefade 0.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    z-index: 2;
  }

#collection-gallery img {
    width: 236px;
    max-height: 100%;
  }

@keyframes slidefade {
  0% {
        transform: translate(0px, 20px);
        opacity: 0;
    }
	100% {
        transform: translate(0px, -10px);
        opacity: 1;
	}
}
