.profile-dropdown {
  position: absolute;
  right: 1em;
  top: 3em;
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  z-index: 3;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;


  margin-bottom: 20px;
  height: fit-content;
  width: 100%;
}

#navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  margin: 0.2em 0;
}

#navbar-right li {
  padding: 0.3em 0;
}

#navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#navbar-left h3 {
  padding-bottom: 2px;
  font-weight: 1000;
  font-size: larger;
  color: RGB(72, 99, 155);
}

#navbar-right {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

#profile-button {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 1em;
}
